:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  --primary: rgb(76, 24, 197);
  --primary-light: rgb(162, 122, 255);
  --secondary: rgb(231, 165, 0);
  --secondary-light: rgb(255, 204, 0);
  --accent: rgb(215, 215, 215);
  --accent-light: rgb(234, 234, 234);
  --accent-md: rgb(132, 132, 132);
  --accent-dark: rgb(111, 111, 111);
  --accent-extra-dark: rgb(80, 80, 80);
  --background: white;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}
