html,
#root,
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  --size-jumbo: 120px;
  --size-extra-lg: 30px;
  --size-lg: 24px;
  --size-md-plus: 20px;
  --size-md: 18px;
  --size-sm-plus: 14px;
  --size-sm: 12px;
  --size-extra-sm: 10px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  height: auto;
  flex-grow: 1;
}

.page.dark {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  --primary: rgb(41, 216, 251);
  --primary-light: rgb(162, 122, 255);
  --secondary: rgb(255, 42, 241);
  --secondary-light: rgb(250, 100, 240);
  --accent: rgb(44, 16, 135);
  --accent-light: rgb(47, 26, 115);
  --accent-md: rgb(132, 132, 132);
  --accent-dark: rgb(213, 213, 213);
  --accent-extra-dark: rgb(238, 238, 238);
  --background: rgb(15, 18, 60);
  background: linear-gradient(90deg, rgb(15, 18, 60) 30%, rgb(32, 0, 96) 100%);
  color: var(--accent-extra-dark);
}

.page {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  --primary: rgb(76, 24, 197);
  --primary-light: rgb(162, 122, 255);
  --secondary: rgb(231, 165, 0);
  --secondary-light: rgb(255, 204, 0);
  --accent: rgb(215, 215, 215);
  --accent-light: rgb(234, 234, 234);
  --accent-md: rgb(132, 132, 132);
  --accent-dark: rgb(111, 111, 111);
  --accent-extra-dark: rgb(80, 80, 80);
  --background: white;
  background: var(--background);
}
