:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  --primary: rgb(76, 24, 197);
  --primary-light: rgb(162, 122, 255);
  --accent: rgb(243, 243, 243);
  --accent-md: rgb(207, 207, 207);
  --accent-dark: rgb(165, 165, 165);
  --background: white;
}

body {
  margin: 12px;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location-name {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 400;
}

.temperature {
  font-size: 80px;
  color: var(--primary);
  font-weight: 900;
}

.snapshot {
  border-radius: 18px;
  background-color: var(--primary-light);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  text-align: center;
}
