.weather-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 0;
  position: relative;
}

.description {
  font-size: 18px;
  font-weight: 400;
}

.location-name {
  font-size: 24px;
  font-weight: 400;
  overflow: wrap;
  border-right: 1px solid var(--primary);
  width: 50%;
  padding-right: 12px;
}

.temperature {
  font-size: 120px;
  margin: 25px 0px;
  color: var(--primary);
  font-weight: 900;
}
