.chart-container {
  padding-top: 40px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 1500px;
  transform: translate(-20px);
}

.chart-container > {
  min-width: 1000px;
}

.tooltip {
  border-radius: 0.25rem;
  background: var(--background);
  padding: 4px;
  border: none;
  outline: none;
  text-align: center;
}

.temp {
  border: 1px solid var(--secondary);
  padding: 6px;
  border-radius: 50px;
  margin-right: 6px;
}

.humidity {
  border: 1px solid var(--primary);
  padding: 6px;
  border-radius: 50px;
}

.legend {
  margin-left: 60px;
  font-size: 14px;
  margin-bottom: 20px;
}
