button {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  padding: 0px;
  cursor: pointer;
}

button:focus {
  outline: 2px solid var(--primary-light);
  color: var(--primary-light);
}

label {
  position: absolute;
  top: 0;
  color: var(--accent-dark);
  pointer-events: none;
  transform: translate(12px, 8px);
  font-size: 14px;
  font-weight: lighter;
  transition: all 150ms ease-in-out;
}

input {
  display: inline-block;
  width: calc(100% - 20px);
  border: 1px solid var(--accent-md);
  height: 30px;
  font-size: 16px;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

input + div {
  margin-top: 3px;
  border-radius: 5px;
}

input:focus {
  border: none;
  outline: 2px solid var(--primary-light);
}

input:placeholder-shown {
  background-color: ivory;
  border: 2px solid darkorange;
  border-radius: 5px;
}

.search-input-container {
  width: 100%;
  max-width: 400px;
  height: 40px;
  position: relative;
}

.label-focused {
  transform: translate(12px, -8px);
  background-color: var(--background);
  color: var(--primary-light);
  font-size: 12px;
  padding: 0px 2px;
}

.location-icon {
  color: var(--primary);
  font-size: 20px;
}

.location-icon-button {
  position: absolute;
  top: 6px;
  right: 10px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-icon {
  color: var(--primary);
  font-size: 20px;
}

.search-icon-button {
  margin-left: 12px;
  transform: translateY(-5px);
}
