button {
  border-radius: 100%;
  width: var(--size-md-plus);
  height: var(--size-md-plus);
  background: none;
  border: none;
  padding: 0px;
  cursor: pointer;
}

button:focus {
  outline: 2px solid var(--primary);
  color: var(--primary);
}

label {
  position: absolute;
  top: 0;
  color: var(--accent-dark);
  pointer-events: none;
  transform: translate(12px, 8px);
  font-size: 14px;
  font-weight: lighter;
  transition: all 150ms ease-in-out;
}

input {
  display: inline-block;
  width: calc(100% - 20px);
  border: 1px solid var(--accent-md);
  height: var(--size-extra-lg);
  font-size: 16px;
  border-radius: 50px;
  padding-left: var(--size-extra-sm);
  padding-right: var(--size-extra-sm);
  background: none;
  color: var(--accent-extra-dark);
}

input + div {
  margin-top: 3px;
  border-radius: 5px;
  background: none !important;
  position: relative;
  z-index: 3;
}

input:focus {
  border: none;
  outline: 2px solid var(--primary);
}

.search-input-container {
  margin-top: 50px;
  width: 100%;
  max-width: 400px;
  height: 40px;
  position: relative;
}

.label-focused {
  transform: translate(12px, -10px);
  color: var(--primary);
  font-size: var(--size-extra-sm);
  padding: 0px 2px;
  background-color: var(--background);
}

.location-icon {
  color: var(--primary);
  font-size: var(--size-md-plus);
}

.location-icon-button {
  position: absolute;
  top: 6px;
  right: 10px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-icon {
  color: var(--primary);
  font-size: var(--size-md-plus);
}

.search-icon-button {
  margin-top: 41px;
  margin-left: 12px;
}
